doctype html
html
    head
        meta(charset="UTF-8")
        title=title
        link(rel="styleSheet" href="/fonts/font-awesome/font-awesome.css")
        block head
    body
        .loader
        .main-wrapper
            block content

        block body-scripts
    