$file-manager-width: 300px

file-manager
  height: 100%
  width: 0
  position: relative
  padding:
    top: $header-height
  opacity: 0
  flex-shrink: 0
  overflow: auto
  transition: all .2s ease-in

  &.is-active
    width: $file-manager-width
    padding:
      left: $horizontal-padding
      right: $horizontal-padding
    opacity: 1

  .header
    +flex(row, space-between)
    height: $header-height
    width: $file-manager-width - (2 * $horizontal-padding)
    position: fixed
    top: 0
    background-color: $bg-color
    line-height: 60px
    border-bottom: 1px solid lightgray

  .content
    padding: 5px 0

  .file-cell-wrapper
    +flex(row, space-between)

  .file-cell
    max-width: 190px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    display: inline-block
    flex-grow: 1
    padding: 20px 0
    cursor: pointer
    transition: background-color .1s ease-in

    &:hover
      background-color: darken($bg-color, 5%)

  .delete-file-cell
    display: inline-block
    margin:
      left: 10px